; iframe_cc make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ TODO modules without versions +++++

projects[better_mm][version] = "" ; TODO add version
projects[better_mm][subdir] = "custom"

projects[company_info][version] = "" ; TODO add version
projects[company_info][subdir] = "custom"

